<form action="/app/login/" method="post">
  <div>
    <label for="username-field">username</label>
    <input type="text" id="username-field" name="username" />
  </div>
  <div>
    <label for="password-field">password</label>
    <input type="password" id="password-field" name="password" />
  </div>
  <button type="submit">login</button>
</form>
<p>Don't have an account? <a href="/app/register/">Register</a></p>
