<form action="/app/register/" method="post">
  <div>
    <label for="email-field">email</label>
    <input type="email" id="email-field" name="email" />
  </div>
  <div>
    <label for="username-field">username</label>
    <input type="text" id="username-field" name="username" />
  </div>
  <div>
    <label for="password-field">password</label>
    <input type="password" id="password-field" name="password" />
    <label style="margin-left: 1em" for="password-repeat-field">repeat password</label>
    <input type="password" id="password-repeate-field" name="passwordRepeat" />
  </div>
  <div>
    <label for="team-field">favorite team</label>
    <select id="team-field" name="team">
      {{#each teams}}
        <option value={{name}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <button type="submit">register</button>
</form>
<p>Already have an account? <a href="/app/login/">Login</a></p>
