<form action="/app/register/" method="post">
  <div>
    <label for="email-field">Email:</label>
    <input type="email" id="email-field" name="email" />
  </div>
  <div>
    <label for="username-field">Username:</label>
    <input type="text" id="username-field" name="username" minlength="2" maxlength="20" />
  </div>
  <div>
    <label for="password-field">Password:</label>
    <input type="password" id="password-field" name="password" minlength="8" maxlength="20" />
    <label style="margin-left: 1em;" for="password-repeat-field">Repeat Password:</label>
    <input type="password" id="password-repeate-field" name="passwordRepeat" minlength="8" maxlength="20" />
  </div>
  <div>
    <label for="team-field">favorite team</label>
    <select id="team-field" name="team">
      {{#each teams}}
        <option value={{name}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  <button type="submit">Register</button>
</form>
<p>Already have an account? <a href="/app/login/">Login</a></p>
